<div class="panel panel-default">
  <div class="panel-heading">
    <h2>Add A New Project</h2>
  </div>
  <div class="panel-body">

  <label>Project Name: </label>
  <input class="form-control" #name >

  <label>Description:  </label>
   <textarea class="form-control" rows="5" #description></textarea>
  <!-- <input class="form-control" #description > -->

  <label>Owner:  </label>
  <input class="form-control" #owner >

  <label>Project Money:</label>
  <input class="form-control" #projectMoney >

  <label>Time Span (Days)</label>
  <input class="form-control" #timeSpan >

  <br>
  <button class="btn btn-primary" (click)="submitForm(name.value, description.value, owner.value, projectMoney.value, timeSpan.value); name.value=''; description.value=''; owner.value=''; projectMoney.value=''; timeSpan.value='';">Add Project</button>
  <br>
  </div>

</div>
